.closeBtn{
    position: fixed;
    background-color: grey;
    opacity:0.5;
    border-radius:50px
}

.btn-custom{
    position: absolute;
    width: 80%;
    left: 50%; /* Position it 50% from the left of the viewport */
    transform: translate(-50%, -20%);
}

.icon-custom{
    font-size: 30px;
}


.icon-custom2{
    font-size: 20px;
}

.review-text{
    font-size: 1.7vh;
}

.rating-text{
    font-size: 1.5vh;
}

.merchantImgCustom{
    width: 90%;
}

.customDiv{
    height: 100% !important;
    display: flex;
}

.customRow{
    align-self: center !important;
}

@media(max-width:575.98px) {
    .merchantImgCustom{
        width: 100%;
    }
    .customDiv{
        height: inherit !important;
        display: block;
    }
    .customRow{
        align-self:auto !important;
    }
}

@media (max-width: 1199.98px) {
    .customDiv{
        height: 100% !important;
    }
}
