<ion-content [fullscreen]="true">
  <div class="container pb-4 pt-5">
    <div class="row">
      <div class="col-2 p-0 m-0 d-flex justify-content-center">
        <ion-icon
        (click)="logout()"
      name="exit-outline"
      class="align-self-center customHeaderBtn text-dark"
    ></ion-icon>
      </div>
      <div class="col-8 d-flex justify-content-center">
        <h2 class="text-center m-0 align-self-center">CritiQ</h2>
      </div>
      <div class="col-2 p-0 m-0 d-flex justify-content-center">
          <ion-icon
          (click)="setSupportShow(true)"
          name="headset-outline"
          class="align-self-center customHeaderBtn text-dark"
        ></ion-icon>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-9">
        <h6>Search</h6>
      </div>
      <div class="col-3">
        <h6>Category</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <input type="text"
        class="form-control shadow align-self-bottom"
        placeholder="Enter search parameter" (keyup)="searchChange($event)"/>
      </div>
      <div class="col-3">
    <select (change)="categoryChange($event)" class="form-control w-100 shadow">
      <option value="0">All</option>
      <option value="1">F&B</option>
      <option value="2">Hotel</option>
      <option value="3">Attractions</option>
    </select>
      </div>
    </div>
    <div class="merchant-wrapper mt-4" *ngFor="let merchant of merchantSearched">
      <div
        class="card shadow"
        (click)="merchantClick(merchant['merchantId'])"
        *ngIf="currentCategory==0 || currentCategory == merchant['category']"
      >
        <div class="card-content">
          <div class="row p-0 m-0">
            <div class="col-3 p-0 m-0">
              <img [src]="merchant['imageUrl']" alt="" class="rounded-start" />
            </div>
            <div class="col-9 mb-1">
              <h5 class="mt-2">{{merchant['merchantName']}}</h5>
              <p class="addressLine p-0 m-0">{{merchant['addressLine1']}}</p>
              <p class="addressLine p-0 m-0">{{merchant['addressLine2']}}</p>
              <p class="addressLine p-0 m-0">{{merchant['addressLine3']}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Modal for Login and Sign Up-->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <div class="w-100 h-100 d-flex justify-content-center">
          <div class="w-100 ps-4 pe-4 mt-3 align-self-center">
            <div class="login-wrapper" *ngIf="isSignUpPage=='login'">
              <h1 class="text-center">
                Welcome to <br />
                Merchant Feedback System
              </h1>
              <h6 class="text-center mt-4">
                Enter your details below to login
              </h6>
              <input
                [(ngModel)]="loginUsername"
                type="text"
                class="form-control w-100 mt-3"
                placeholder="Username"
              />
              <input
                [(ngModel)]="loginPassword"
                type="password"
                class="form-control w-100 mt-3"
                placeholder="Password"
              />
              <button class="btn btn-primary w-100 mt-3" (click)="login()">
                Login
              </button>
              <p class="text-center mt-3">
                Don't have an account?
                <a class="text-primary" (click)="setSignUpPageShow()"
                  >Sign up here</a
                >
              </p>
              <p
                class="text-center mt-2 text-primary"
                (click)="setForgotPasswordShow()"
              >
                Forgot your password?
              </p>
            </div>
            <div class="sign-up-wrapper" *ngIf="isSignUpPage=='signup'">
              <h1 class="text-center">
                Welcome to <br />
                Merchant Feedback System
              </h1>
              <h6 class="text-center mt-4">
                Register an account with us today!
              </h6>
              <input
                [(ngModel)]="registerUsername"
                type="text"
                class="form-control w-100 mt-3"
                placeholder="Username"
              />
              <input
                [(ngModel)]="registerEmail"
                type="email"
                class="form-control w-100 mt-3"
                placeholder="Email"
              />
              <input
                [(ngModel)]="registerPassword"
                type="password"
                class="form-control w-100 mt-3"
                placeholder="Password"
              />
              <input
                [(ngModel)]="registerConfirmPassword"
                type="password"
                class="form-control w-100 mt-3"
                placeholder="Confirm Password"
              />
              <button class="btn btn-primary w-100 mt-3" (click)="signup()">
                Sign Up
              </button>
              <p class="text-center mt-3">
                Already have an account?
                <a class="text-primary" (click)="isSignUpPage='login'"
                  >Login here</a
                >
              </p>
            </div>
            <div class="forgot-wrapper" *ngIf="isSignUpPage=='forgotpassword'">
              <h1 class="text-center">Oh no! <br /></h1>
              <h6 class="text-center mt-4">
                Simply enter your username here and we will send you a recovery
                password to your email
              </h6>
              <input
                [(ngModel)]="forgotUsername"
                type="text"
                class="form-control w-100 mt-3"
                placeholder="Username"
              />
              <button
                class="btn btn-primary w-100 mt-3"
                (click)="forgotpassword()"
              >
                Submit
              </button>
              <p class="text-center mt-3">
                Remembered your password?
                <a class="text-primary" (click)="isSignUpPage='login'"
                  >Login here</a
                >
              </p>
            </div>
            <div class="reset-wrapper" *ngIf="isSignUpPage=='reset'">
              <h1 class="text-center">Enter your new password <br /></h1>
              <input
                [(ngModel)]="resetPassword"
                type="password"
                class="form-control w-100 mt-3"
                placeholder="Password"
              />
              <input
                [(ngModel)]="resetConfirmPassword"
                type="password"
                class="form-control w-100 mt-3"
                placeholder="Confirm Password"
              />
              <button
                class="btn btn-primary w-100 mt-3"
                (click)="confirmNewPassword()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!--Modal for Support Page-->
  <ion-modal class="w-100 h-100" [isOpen]="isSupportOpen">
    <ng-template>
      <ion-content>
        <div class="w-100 h-100 pb-4 pt-5 d-flex justify-content-center">
          <ion-icon
            name="close-outline"
            class="modal-close"
            size="large"
            (click)="setSupportShow(false)"
          ></ion-icon>
          <div class="w-100 h-100 ps-4 pe-4 align-self-center">
              <h1 class="text-center">
                Need Support?<br />
                We're Here For <b><u>YOU</u></b>
              </h1>
              <h6 class="text-center mt-4">
                You can choose to visit us here
              </h6>
              <<div class="google_map_container">
                <google-map [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions">
                  <map-marker
                    #marker="mapMarker"
                    [position]="mapCenter"
                    [options]="markerOptions">
                  </map-marker>
                  <map-info-window>{{ markerInfoContent }}</map-info-window>
                </google-map>
              </div>
              <h6 class="text-center mt-4">
                Or leave us a message below and we will get back to you within 3
                working days!
              </h6>
              <input
                [(ngModel)]="supportSubject"
                type="text"
                class="form-control w-100 mt-3"
                placeholder="Subject"
              />
              <textarea
                [(ngModel)]="supportMessage"
                class="form-control w-100 mt-3"
                placeholder="Enter your message here"
                rows="15"
              ></textarea>
              <button class="btn btn-primary w-100 mt-3 mb-2" (click)="support()">
                Send The Message!
              </button>
            </div>
          </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
